@charset "UTF-8";
.card-array > .page-of-items-contents > .card.nuts-component {
  box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.5);
}

.dark-shadowed {
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
}

.pseudo-image.special-image.discard-2-cards {
  height: 120px;
  width: 120px;
}

.pseudo-image.floor,
.pseudo-image.special-image,
.pseudo-image.coin,
.pseudo-image.desk {
  height: 60px;
  width: 60px;
}

.pseudo-image.coin {
  height: 40px;
  width: 40px;
}

.card.nuts {
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
  font-weight: bold;
  font-family: "Bungee", sans-serif;
}

.card.front.starter,
.card.back.nuts.starter {
  border-color: #a2ffa1;
}

.card.front.day,
.card.back.nuts.day {
  border-color: #ffe551;
}

.card.front.afternoon,
.card.back.nuts.afternoon {
  border-color: #fea862;
}

.card.front.night,
.card.back.nuts.night {
  border-color: #372658;
}

.card.front.nuts {
  position: relative;
  border-width: 10px;
  border-style: solid;
}
.card.front.nuts .starter-text {
  font-size: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
}
.card.front.nuts .drop_shadow.pseudo-image {
  filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.4));
}
.card.front.nuts .title-outer-wrapper {
  width: 100%;
  height: 25%;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, 0%);
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card.front.nuts .title-outer-wrapper .title-inner-wrapper {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 86%;
  height: 70px;
  border: 14px solid #773333;
  border-radius: 10px;
}
.card.front.nuts .title-outer-wrapper .title-inner-wrapper .title {
  font-size: 36px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  white-space: pre-line;
  line-height: 1;
  padding-top: 5px;
  padding-bottom: 5px;
}
.card.front.nuts .main_wrapper {
  width: 100%;
  height: 75%;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  font-size: 40px;
  gap: 10px;
  font-family: "Nunito Sans";
}
.card.front.nuts .main_wrapper .deluxe.text {
  font-size: 18px;
}
.card.front.nuts .main_wrapper .image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 30px;
  margin: -30px;
}
.card.front.nuts .main_wrapper .image-wrapper .component-image {
  width: 80px;
  height: 80px;
  z-index: 2;
}
.card.front.nuts .main_wrapper .image-wrapper .component-image.index0.first {
  z-index: 10;
  margin-right: -20px;
}
.card.front.nuts .main_wrapper .image-wrapper .component-image.index0.second {
  margin-left: -20px;
  z-index: 10;
}
.card.front.nuts .main_wrapper .image-wrapper.trail-mix {
  zoom: 1.6;
  margin-bottom: -50px;
}
.card.front.nuts .main_wrapper .image-wrapper.deluxe {
  background-image: url("../images/Cards/aura.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.card.front.nuts .unbroken-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.card.front.nuts .reward_points {
  font-size: 14px;
  font-weight: bold;
  display: inline;
}
.card.front.nuts .craft-wrapper .collectable-item-set {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
}
.card.front.nuts .craft-wrapper .collectable-item-set .collectable-item {
  position: absolute;
  top: 0px;
}
.card.front.nuts .craft-wrapper .collectable-item-set .set-count {
  display: inline-block;
}
.card.front.nuts .craft-wrapper .collectable-item-set .nut {
  height: 60px;
  width: 60px;
}
.card.front.nuts .cannot-be-crafted {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
}
.card.front.nuts .cannot-be-crafted .no-symbol {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card.front.nuts .floor_wrapper .colon-and-points .negative {
  color: #994444;
}
.card.front.nuts .colon-and-points {
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 5px;
  padding-right: 5px;
}
.card.front.nuts .minicard {
  border-radius: 10px;
  background-color: #fffff0;
  transform: rotate(-5deg);
  filter: drop-shadow(8px 8px 4px rgba(0, 0, 0, 0.15));
}
.card.front.nuts .custom-rendering-wrapper {
  display: flex;
  flex-direction: column;
}
.card.front.nuts .custom-rendering-wrapper .text-node {
  font-family: "Nunito Sans";
  font-size: 15px;
  margin-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
}
.card.front.nuts .custom-rendering-wrapper .text-node .red {
  color: #aa0044;
}
.card.front.nuts .custom-rendering-wrapper .custom-rendering-images {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.card.front.nuts .custom-rendering-wrapper .custom-rendering-images .pseudo-image {
  height: 50px;
  width: 50px;
}
.card.front.nuts .custom-rendering-wrapper .custom-rendering-images .pseudo-image.bad-nut-floor {
  width: 100px;
}
.card.front.nuts .custom-rendering-wrapper .mystery-card-wrapper {
  height: 70px;
  width: 50px;
  border-radius: 10px;
  border: 4px solid black;
  background-color: #fffff0;
  transform: rotate(-5deg);
  filter: drop-shadow(8px 8px 4px rgba(0, 0, 0, 0.15));
  display: flex;
  justify-content: center;
  /* horizontal centering */
  align-items: center;
}
.card.front.nuts .custom-rendering-wrapper .pseudo-image.vote {
  width: 100px;
  height: 100px;
}
.card.front.nuts .custom-rendering-wrapper .nut-rows {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card.front.nuts .custom-rendering-wrapper .nut-rows .nut-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.card.front.nuts .custom-rendering-wrapper .nut-rows .nut-row .nut-image {
  height: 40px;
  width: 40px;
}
.card.front.nuts .custom-rendering-wrapper.walnut {
  flex-direction: column;
  zoom: 0.5;
}
.card.front.nuts .custom-rendering-wrapper.trail-mix .craft-wrapper {
  font-size: 40%;
}
.card.front.nuts .custom-rendering-wrapper.nuts .nut-rows {
  padding-right: 10px;
}
.card.front.nuts .custom {
  font-size: 35px;
}
.card.front.nuts .penalty {
  white-space: nowrap;
}
.card.front.nuts .special_custom.small {
  font-size: 25px;
}

.card.front.nuts .wrapper .special_customs_wrapper .special_custom {
  margin: 0 6px;
}

.card.back.nuts.starter {
  background: radial-gradient(#a2ffa1 50%, #d4ffd4);
}

.card.back.nuts.day {
  background: radial-gradient(#fffcde 50%, #fff9b7);
}

.card.back.nuts.afternoon {
  background: radial-gradient(#f1b863 50%, #ffc66b);
}

.card.back.nuts.night {
  background: radial-gradient(#6a6379 50%, #756891);
}

.card.back.nuts {
  border-width: 10px;
  border-style: solid;
  position: relative;
}
.card.back.nuts .inset {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 0;
  position: relative;
}
.card.back.nuts .inset .squirrel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  z-index: 1;
}
.card.back.nuts .inset .title {
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
  font-weight: bold;
  width: 80%;
  color: #332211;
  line-height: 1;
  /* keeps text from pushing height */
  text-align: center;
  white-space: nowrap;
  /* stops wrapping in print */
  overflow: hidden;
  /* ensures it won’t spill */
}
.card.back.nuts .inset .title.small {
  font-size: 30px;
  z-index: 2;
}
.card.back.nuts .inset .title.big {
  font-size: 50px;
  z-index: 3;
}
.card.back.nuts .inset .shift {
  font-family: "Nunito Sans";
  font-size: 25px;
  color: #332211;
}

/*# sourceMappingURL=cards-nuts.css.map */
