@charset "UTF-8";
.card_array > .page-of-items-contents > .card.mixed-nuts-component {
  box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.5);
}

.dark-shadowed {
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
}

.pseudo-image.special-image.discard-nut-n-times {
  height: 120px;
  width: 120px;
}

.pseudo-image.floor,
.pseudo-image.special-image,
.pseudo-image.coin,
.pseudo-image.desk {
  height: 60px;
  width: 60px;
}

.card.mixed-nuts-component {
  font-family: "Luckiest Guy";
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
  font-weight: bold;
}

.card.front .player_indicator {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  bottom: 20px;
  left: 0px;
  width: 100%;
}
.card.front .player_indicator .player {
  width: 36px;
  height: 36px;
}
.card.front .player_indicator .player_count {
  font-size: 28px;
}

.card.front.mixed-nuts-component {
  padding-top: 27px;
  padding-bottom: 27px;
  padding-left: 14px;
  padding-right: 14px;
  position: relative;
  border-width: 10px;
  border-style: solid;
}
.card.front.mixed-nuts-component .component_image {
  width: 60px;
  height: 60px;
  position: absolute;
  z-index: 2;
}
.card.front.mixed-nuts-component .drop_shadow.pseudo-image {
  filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.4));
}
.card.front.mixed-nuts-component .component_image.index0 {
  top: 10px;
  left: 10px;
}
.card.front.mixed-nuts-component .component_image.index1 {
  top: 10px;
  right: 10px;
}
.card.front.mixed-nuts-component .component_image.index_xl {
  top: -50%;
  left: -50%;
  transform: translate(50%, 50%);
}
.card.front.mixed-nuts-component .main_wrapper {
  width: 100%;
  height: 100%;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  font-size: 40px;
  gap: 10px;
}
.card.front.mixed-nuts-component .main_wrapper .unbroken-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.card.front.mixed-nuts-component .main_wrapper .reward_points {
  font-size: 14px;
  font-weight: bold;
  display: inline;
}
.card.front.mixed-nuts-component .main_wrapper .title {
  font-size: 36px;
  white-space: pre-line;
  line-height: 1;
}
.card.front.mixed-nuts-component .main_wrapper .craft-wrapper .card-collection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  padding-right: 10px;
}
.card.front.mixed-nuts-component .main_wrapper .craft-wrapper .card-collection .minicard {
  position: absolute;
  top: 0px;
}
.card.front.mixed-nuts-component .main_wrapper .cannot-be-crafted {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
}
.card.front.mixed-nuts-component .main_wrapper .cannot-be-crafted .no-symbol {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card.front.mixed-nuts-component .main_wrapper .floor_wrapper .colon_and_points .negative {
  color: #994444;
}
.card.front.mixed-nuts-component .main_wrapper .colon_and_points {
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.card.front.mixed-nuts-component .main_wrapper .minicard {
  border-radius: 10px;
  background-color: #fffff0;
  transform: rotate(-5deg);
  filter: drop-shadow(8px 8px 4px rgba(0, 0, 0, 0.15));
}
.card.front.mixed-nuts-component .main_wrapper .custom-rendering-wrapper {
  display: flex;
  flex-direction: row;
}
.card.front.mixed-nuts-component .main_wrapper .custom-rendering-wrapper .pseudo-image {
  height: 50px;
  width: 50px;
}
.card.front.mixed-nuts-component .main_wrapper .custom-rendering-wrapper .pseudo-image.discard-nut-n-times {
  aspect-ratio: 5.1/3.59;
  height: auto !important;
  width: 180px;
}
.card.front.mixed-nuts-component .main_wrapper .custom-rendering-wrapper .nut-rows {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card.front.mixed-nuts-component .main_wrapper .custom-rendering-wrapper .nut-rows .nut-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.card.front.mixed-nuts-component .main_wrapper .custom-rendering-wrapper.mixed-nuts .nut-rows {
  padding-right: 10px;
}
.card.front.mixed-nuts-component .main_wrapper .custom {
  font-size: 35px;
}
.card.front.mixed-nuts-component .main_wrapper .penalty {
  white-space: nowrap;
}
.card.front.mixed-nuts-component .main_wrapper .special_custom.small {
  font-size: 25px;
}

.card.front.mixed-nuts .wrapper .special_customs_wrapper .special_custom {
  margin: 0 6px;
}

.card.back.mixed-nuts {
  border-width: 10px;
  border-style: solid;
  border-color: #664433;
  position: relative;
  background: radial-gradient(#eeccaa 50%, #997755);
}
.card.back.mixed-nuts .inset {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 0;
  position: relative;
}
.card.back.mixed-nuts .inset .mixed-nuts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  position: absolute;
  top: 40px;
  z-index: 1;
}
.card.back.mixed-nuts .inset .title {
  position: absolute;
  font-family: "Luckiest Guy";
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
  font-weight: bold;
  width: 80%;
  color: #332211;
  line-height: 1;
  /* keeps text from pushing height */
  text-align: center;
  white-space: nowrap;
  /* stops wrapping in print */
  overflow: hidden;
  /* ensures it won’t spill */
}
.card.back.mixed-nuts .inset .title.small {
  font-size: 30px;
  top: 170px;
  z-index: 2;
}
.card.back.mixed-nuts .inset .title.big {
  font-size: 50px;
  top: 190px;
  z-index: 3;
}

/*# sourceMappingURL=mixed_nuts_components.css.map */
